/Quote.Update/bin
/Quote/obj
/Quote.Update/obj
/QuoteSetup/Debug
/QuoteSetup/Release
/QuoteSetup.Installer/obj
/QuoteSetup.Installer/bin
/packages
QuoteSetup.v12.suo
Quote/bin
/BusinessLogicLayer/obj/Debug
/BusinessLogicLayer/bin/Debug
/DataAccessLayer/bin/Debug
/StlmQuoteWPF/bin/Debug
/StlmQuoteWPF/obj/Debug/TempPE
/StlmQuoteWPF/obj/Debug
/DataAccessLayer/obj/Debug
